body{
	margin: 0 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: hsl(233, 47%, 7%);

	font-size: 15px;

	/*Centrer la div*/
	height:100%;
	width:100%;
	position:absolute;
}

.main{
  	width: 1080px;
  	height: 446px;
  	padding: 0;
  	display: flex;

  	/*Centrer la div*/
  	position: relative;

}

.gauche{
	background-color:hsl(244, 38%, 16%);
  	border-top-left-radius: 20px;
  	border-bottom-left-radius: 20px;
	width: 50%;
	height: 100%;
	display: inline-block;
	display:flex;
}

.droite{
	border-top-right-radius: 20px;
  	border-bottom-right-radius: 20px;
	width: 50%;
	height: 100%;
	display: inline-block;

	background: url("./images/image-header-desktop.jpg");
	position: relative;
	background-size: cover;
	overflow: hidden;
}

.color {
    background-color: rgba(132, 41, 188, 0.5);
    position: absolute;
    width: 100%;
    height: 100%;
}

.text{
	margin:10% 10%;
	display: flex;
	flex-direction: column;
	align-items: center;
}

h1{
	font-family: 'Inter', sans-serif;
	font-weight: bold;
	color: white;
	word-spacing: 0.25em;
}
span{
	color: rgb(132, 41, 188);
}
p{
	word-spacing: 0.2em;
	line-height: 1.5em;
	color: rgba(100%,100%,100%,0.6);
	font-family: 'Lexend Deca', sans-serif;
}

.container{
	margin-top: 10%;
	display: flex;
	width: 90%;
	justify-content: space-between;
}

.nbrs p{
	margin-top: 0;
}

.nbrs h1{
	margin-bottom: 0;
}

/*----------RESPONSIVE----------*/

@media screen and (max-width: 1180px)
{
	body{
		height: 150%;
	}
    .main{
    	flex-direction: column-reverse;
    	max-width: 500px;
    	width: 80%;
    	height: auto;
    }

    .gauche{
    	width: 100%;
    	height: auto;

    	border-top-left-radius: 0;
  		border-bottom-right-radius: 20px;
  		border-bottom-left-radius: 20px; 

  		justify-content: center;
    }

    .droite{
    	width: 100%;
    	min-height: 300px;

    	background-image: url("./images/image-header-mobile.jpg");
    	background-position: center;
    	background-size: cover;
    	background-repeat: no-repeat;

    	border-top-right-radius: 20px;
  		border-bottom-right-radius: 0px;
  		border-top-left-radius: 20px;
    }

    .container{
    	flex-direction: column;
    	align-items: center;
    }

    .text{
	margin:7% 7%;
	}

	p, h1{
		text-align: center;
	}

	p{
	word-spacing: 0.3em;
	line-height: 1.8em;
	}
}


